/* Variables */
.menu-light-theme {
    --icon-background         : #e5e2e2;
    --circle-inside-background: #202020;
    --circle-inside-gradient  : beige;
    --icon-one-color          : #fc0303;
    --icon-two-color          : #fc9403;
    --icon-three-color        : #7c02a1;
    --icon-four-color         : #035efc;
    --icon-five-color         : rgb(19, 12, 12);
    --icon-six-color          : #a70478;
    box-shadow                : 10px 7px 10px #202020;
}

.menu-dark-theme {
    --icon-background         : #202020;
    --circle-inside-background: #e5e2e2;
    --circle-inside-gradient  : navy;
    --icon-one-color          : #fcb103;
    --icon-two-color          : #62fc03;
    --icon-three-color        : #03fc7b;
    --icon-four-color         : #035afc;
    --icon-five-color         : #8003fc;
    --icon-six-color          : #fc03b5;
    box-shadow                : 10px 7px 10px #3a3a3a;
}

/* General */
div[class*="menu"] {
    width        : 5em;
    height       : 5em;
    border-radius: 35%;
    display      : flex;
    flex-wrap    : wrap;
    position     : absolute;
    border-radius: 50%;
}

i {
    font-size: 15px;
}

#menuInsideCircle {
    width        : 2.3em;
    height       : 2.3em;
    border-radius: 50%;
    background   : radial-gradient(circle at center, var(--circle-inside-gradient) 5%, var(--circle-inside-background) 45%);
    border       : 1px rgb(109, 107, 107) inset;
    position     : absolute;
    margin-top   : 25%;
    margin-left  : 25%;
    z-index      : 999;
}

div[class*="sector"] {
    background-color: var(--icon-background);
    width           : inherit;
    height          : inherit;
    border-radius   : 50%;
    position        : absolute;
}

div[class*="sector"]:hover {
    filter: invert(100%);
}

/* -------------------------------------------------- */

/* Two actions menu */
.twosector1 {
    clip: rect(0em, 2.5em, 5em, 0em);
}

.twosector1 i {
    top        : 40%;
    margin-left: 5%;
    position   : relative;
    color      : var(--icon-one-color);
}

.twosector2 {
    clip: rect(0, 5em, 5em, 2.5em);
}

.twosector2 i {
    top         : 40%;
    float       : right;
    margin-right: 5%;
    position    : relative;
    color       : var(--icon-two-color);
}

/* Three actions menu */

.threesector1 {
    clip     : rect(0em, 2.5em, 5em, 0em);
    transform: rotate(0deg);
    z-index  : 2;
}

.threesector1 i {
    margin-top : 25%;
    margin-left: 8%;
    position   : absolute;
    color      : var(--icon-one-color);
}

.threesector2 {
    clip     : rect(0em, 2.5em, 5em, 0em);
    transform: rotate(180deg);
    z-index  : 3;
}

.threesector2 i {
    margin-top : 56%;
    margin-left: 10%;
    position   : absolute;
    color      : var(--icon-two-color);
    transform  : rotate(180deg);
}

.threesector3 {
    clip     : rect(0em, 2em, 5em, 0em);
    transform: rotate(270deg);
    z-index  : 4;
}

.threesector3 i {
    margin-top : 38%;
    margin-left: 5%;
    color      : var(--icon-three-color);
    position   : relative;
    transform  : rotate(90deg);
}

/* Four actions menu */

.foursector1 {
    clip: rect(0em, 2.5em, 2.5em, 0em);
}

.foursector1 i {
    top        : 13.5%;
    margin-left: 13%;
    position   : relative;
    color      : var(--icon-one-color);
}

.foursector2 {
    clip: rect(0em, 5em, 2.5em, 2.5em);
}

.foursector2 i {
    top         : 15%;
    margin-right: 14.5%;
    float       : right;
    color       : var(--icon-two-color);
    position    : relative;
}

.foursector3 {
    clip: rect(2.5em, 2.5em, 5em, 0em);
}

.foursector3 i {
    top        : 69%;
    color      : var(--icon-three-color);
    margin-left: 14%;
    position   : relative;
}

.foursector4 {
    clip: rect(2.5em, 5em, 5em, 2.5em);
}

.foursector4 i {
    top         : 69%;
    float       : right;
    margin-right: 15%;
    position    : relative;
    color       : var(--icon-four-color);
}

/* Five actions menu */

.fivesector1 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(-8deg);
    z-index  : 2;
}

.fivesector1 i {
    margin-top : 17%;
    margin-left: 12%;
    position   : relative;
    color      : var(--icon-one-color);
    transform  : rotate(8deg);
}

.fivesector2 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(60deg);
    z-index  : 3;
}

.fivesector2 i {
    margin-top : 22%;
    margin-left: 10%;
    position   : relative;
    color      : var(--icon-two-color);
    transform  : rotate(-60deg);
}

.fivesector3 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(120deg);
    z-index  : 4;
}

.fivesector3 i {
    position   : relative;
    margin-top : 25%;
    margin-left: 9.5%;
    color      : var(--icon-three-color);
    transform  : rotate(-120deg);
}

.fivesector4 {
    clip     : rect(0em, 2.5em, 2.5em, 0em);
    transform: rotate(180deg);
    z-index  : 5;
}

.fivesector4 i {
    position   : relative;
    margin-top : 13%;
    margin-left: 15%;
    color      : var(--icon-four-color);
    transform  : rotate(-180deg);
}

.fivesector5 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(270deg);
    z-index  : 6;
}

.fivesector5 i {
    position   : relative;
    margin-top : 16%;
    margin-left: 10%;
    color      : var(--icon-five-color);
    transform  : rotate(-270deg);
}

/* Six actions menu */

.sixsector1 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(-10deg);
    z-index  : 2;
}

.sixsector1 i {
    position   : relative;
    margin-top : 14.5%;
    margin-left: 14%;
    color      : var(--icon-one-color);
    transform  : rotate(10deg);
}

.sixsector2 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(60deg);
    z-index  : 3;
}

.sixsector2 i {
    position   : relative;
    margin-top : 22.5%;
    margin-left: 9.5%;
    color      : var(--icon-two-color);
    transform  : rotate(-60deg);
}

.sixsector3 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(120deg);
    z-index  : 4;
}

.sixsector3 i {
    position   : relative;
    margin-top : 26%;
    margin-left: 8.5%;
    color      : var(--icon-three-color);
    transform  : rotate(-120deg);
}

.sixsector4 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(170deg);
    z-index  : 5;
}

.sixsector4 i {
    position   : relative;
    margin-top : 21%;
    margin-left: 10%;
    color      : var(--icon-four-color);
    transform  : rotate(-170deg);
}

.sixsector5 {
    clip     : rect(0em, 2.2em, 2.5em, 0em);
    transform: rotate(228deg);
    z-index  : 6;
}

.sixsector5 i {
    position   : relative;
    margin-top : 16%;
    margin-left: 12.5%;
    color      : var(--icon-five-color);
    transform  : rotate(-228deg);
}

.sixsector6 {
    clip     : rect(0em, 2.3em, 2.5em, 0em);
    transform: rotate(280deg);
    z-index  : 3;
}

.sixsector6 i {
    position   : relative;
    margin-top : 9%;
    margin-left: 18.5%;
    color      : var(--icon-six-color);
    transform  : rotate(-280deg);
}