ul {
    list-style         : none;
    list-style-position: outside;
    margin             : 0px;
    padding            : 0%;
    margin-bottom      : 10px;
}

li {
    padding: 10px;
}

li:nth-child(odd) {
    background-color: green;
}

li:nth-child(even) {
    background-color: crimson;
}