ul {
    list-style         : none;
    list-style-position: outside;
    margin             : 0px;
    padding            : 0%;
    margin-bottom      : 10px;
}

li {
    padding: 10px;
}

li:nth-child(odd) {
    background-color: green;
}

li:nth-child(even) {
    background-color: crimson;
}

table {
    width           : 100%;
    background-color: cyan;
    text-align      : center;
}

tbody tr:nth-child(odd) {
    background-color: brown;
    color           : white;
    font-weight     : bold;
}